<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homework.mapper.StudentworkMapper">
    <resultMap id="studentworkResultMap" type="Studentwork">
        <id property="id" column="id" />
        <result property="homeworkId" column="homeworkId"/>
        <result property="studentId" column="studentId"/>
        <result property="classId" column="classId"/>
        <result property="submit" column="submit"/>
        <result property="mark" column="mark"/>
        <result property="created" column="created"/>
        <result property="updated" column="updated"/>
    </resultMap>

    <sql id="studentworkList">
        <trim prefix="where" prefixOverrides="and | or">
            <if test="homeworkId != null">
                and homeworkId = #{homeworkId}
            </if>
            <if test="studentId != null">
                and studentId = #{studentId}
            </if>
            <if test="classId != null">
                and classId = #{classId}
            </if>
            <if test="submit != null">
                and submit = #{submit}
            </if>
            <if test="mark != null">
                and mark = #{mark}
            </if>
            <if test="teacherId != null">
                and teacherId = #{teacherId}
            </if>
        </trim>
    </sql>

    <select id="selectStudentworkList" parameterType="com.homework.param.StudentworkParam" resultType="Studentwork">
        <bind name="orderSql" value="@com.homework.util.Pretreatment@getOrder(order)"/>
        select s.* from studentwork s left join homework h on h.id = s.homeworkId
        <include refid="studentworkList" />
        <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(orderSql)">
            order by
            ${orderSql}
        </if>
        <if test="isPage">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="selectList" parameterType="com.homework.param.StudentworkParam" resultType="Studentwork">
        SELECT * FROM `studentwork` s left join homework h on s.homeworkId = h.id
        where h.`status` = 1
        <if test="homeworkId != null">
            and s.homeworkId = #{homeworkId}
        </if>
        <if test="classId != null">
            and s.classId = #{classId}
        </if>
    </select>

    <select id="count" parameterType="com.homework.param.StudentworkParam" resultType="Integer">
        select count(id) from studentwork
        <include refid="studentworkList" />
    </select>

    <select id="selectStudentId" parameterType="long" resultType="long">
        select studentId from studentwork where homeworkId = #{homeworkId} and submit = 0
    </select>

    <sql id="homeworkList">
        from studentwork s LEFT JOIN homework h on s.homeworkId = h.id
        <trim prefix="where" prefixOverrides="and | or">
            <if test="studentId != null">
                and s.studentId = #{studentId}
            </if>
            <if test="submit != null">
                and s.submit = #{submit}
            </if>
            <if test="status != null">
                and h.status = #{status}
            </if>
            <if test="endTimeS != null">
                <![CDATA[
                and h.endTime >= date_format(#{endTimeS},'%Y-%m-%d %H:%i:%s')
                ]]>
            </if>
            <if test="endTimeE != null">
                <![CDATA[
                and h.endTime <= date_format(#{endTimeE},'%Y-%m-%d %H:%i:%s')
                ]]>
            </if>
        </trim>
    </sql>

    <select id="selectHomework" parameterType="com.homework.param.StudentworkParam" resultType="Homework">
        <bind name="orderSql" value="@com.homework.util.Pretreatment@getOrder(order)"/>
        select h.id, h.teacherId, h.subjectId, h.subjectName, h.title, h.knowledge, h.spentTime,
        h.status, h.publicTime, h.endTime, h.created,h.updated, s.submitTime, s.mark
        <include refid="homeworkList" />
        <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(orderSql)">
            order by
            ${orderSql}
        </if>
        <if test="isPage">
            limit #{offset}, #{limit}
        </if>
    </select>
    <select id="countHomework" parameterType="com.homework.param.StudentworkParam" resultType="Integer">
        select count(*)
        <include refid="homeworkList" />
    </select>

    <select id="selectHomeworkRecord" parameterType="com.homework.param.StudentworkParam" resultType="Homework">
        <bind name="orderSql" value="@com.homework.util.Pretreatment@getOrder(order)"/>
        select h.id, h.teacherId, h.subjectId, h.subjectName, h.title, h.knowledge, h.spentTime,
        h.status, h.publicTime, h.endTime, h.created, h.updated, s.submitTime, s.mark
        from studentwork s LEFT JOIN homework h on s.homeworkId = h.id
        <trim prefix="where" prefixOverrides="and | or">
            <if test="studentId != null">
                and s.studentId = #{studentId}
            </if>
              <![CDATA[
                and (s.submit = 1 or h.endTime < date_format(now(),'%Y-%m-%d %H:%i:%s') )
              ]]>
        </trim>
        <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(orderSql)">
            order by
            ${orderSql}
        </if>
        <if test="isPage">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="countHomeworkRecord" parameterType="com.homework.param.StudentworkParam" resultType="Integer">
        select count(*)
        from studentwork s LEFT JOIN homework h on s.homeworkId = h.id
        <trim prefix="where" prefixOverrides="and | or">
            <if test="studentId != null">
                and s.studentId = #{studentId}
            </if>
            <![CDATA[
                and (s.submit = 1 or h.endTime < date_format(now(),'%Y-%m-%d %H:%i:%s'))
              ]]>
        </trim>
    </select>

    <select id="selectStudentwork" parameterType="com.homework.param.StudentworkParam" resultType="Studentwork">
        select * from studentwork  where studentId = #{studentId} and homeworkId = #{homeworkId} limit 1
    </select>

    <insert id="insertStudentwork" parameterType="com.homework.model.Studentwork">
        <bind name="sysDate" value="@com.homework.util.Pretreatment@now()" />
        <selectKey keyProperty="id" resultType="Long" order="BEFORE">
            <bind name="nextId" value="@com.homework.util.Pretreatment@nextId()" />
            select #{nextId}
        </selectKey>
        insert into studentwork
            (id,homeworkId,studentId,studentName,classId,submit,mark,time,created, updated)
        values
            (#{id},#{homeworkId},#{studentId},#{studentName},#{classId},#{submit},#{mark},#{time},#{sysDate},#{sysDate})
    </insert>

    <delete id="deleteStudentwork" parameterType="Long">
        delete from studentwork where homeworkId = #{homeworkId}
    </delete>

    <update id="updateStudentwork" parameterType="Studentwork">
        <bind name="sysDate" value="@com.homework.util.Pretreatment@now()"></bind>
        update studentwork
        <trim prefix="set" suffixOverrides="," suffix=" where id = #{id} ">
            updated = #{sysDate},
            <if test="submit != null">
                submit=#{submit},
            </if>
            <if test="time != null">
                time=#{time},
            </if>
            <if test="mark != null">
                mark=#{mark},
            </if>
            <if test="submitTime != null">
                submitTime=#{submitTime},
            </if>
        </trim>
    </update>

    <update id="updateSubmit" parameterType="map">
        <bind name="sysDate" value="@com.homework.util.Pretreatment@now()"></bind>
        update studentwork set submit = 1, updated = #{sysDate} where studentId=#{studentId} and homeworkId=#{homeworkId}
    </update>

    <update id="updateMark" parameterType="map">
        <bind name="sysDate" value="@com.homework.util.Pretreatment@now()"></bind>
        update studentwork set mark = 1, updated = #{sysDate} where studentId=#{studentId} and homeworkId=#{homeworkId}
    </update>

</mapper>