<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>log/cjhms.txt</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>log/cjhms-%d{yyyy-MM-dd}.%i.txt</FileNamePattern>
            <!-- each file should be at most 300MB, keep 60 days worth of history, but at most 20GB -->
            <maxFileSize>300MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}-%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}-%msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="logfile" />
    </root>
</configuration>